<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<div class="container">
	<h1>Hello World!!!!!!!!!</h1>
</div>

<style>
	* {
		margin: 0;
	}
	h1 {
		color: crimson;
	}
</style>